header {
  position: absolute;
  width: calc(100vw - 250px);
  min-width: 1190px;
  height: 89px;
  left: 250px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(60, 60, 67, 0.08);
}
.header-title {
  margin-left: 38px;
  color: #435274;
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 536px;
  height: 44px;
  background: #f5f8fb;
  border-radius: 8px;
}
.search-input {
  border: none;
  background: transparent;
  width: 500px;
  outline: none;
  margin-left: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.3px;
  color: #a2b1c3;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 36px;
}
.invite-btn {
  width: 154px;
  height: 40px;
  background: #00a5ea;
  border-radius: 8px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 150ms ease-in-out;
  cursor: pointer;
  margin-right: 46px;
}
.invite-btn:hover {
  background: hsl(198, 100%, 65%);
}
.notifications {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  margin-right: 25px;
}
.dot {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background-color: #00a5ea;
}
.margin {
  margin-right: 25px;
}
.pointer {
  cursor: pointer;
}
