* {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}
:root {
  --main1: #113365;
  --main2: #0c274f;
  --green1: #00f595;
  --green2: #00d5fb;
  --white: #ffffff;
}

html {
  background-color: var(--white);
  min-width: 1440px;
}
